@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Varables csss */

:root {
    --header-height: 3em;
    /* Colors */
    --title-color: #0b0a0a;
    --text-color: #403a3a;
    --text-color-light: #707070;
    --container-color: #fafafa;
    --container-color-alt: #f0efef;
    --body-color: #fcfcfc;
    --fav-sunny: #140322;
    /* font and typography */
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    /* Margines */
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    /* Z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body.dark-theme {
    --title-color: #f2f2f2;
    --text-color: #bfbfbf;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2b2b2b;
    --fav-sunny: #fdb913;
}

.change-theme {
    position: absolute;
    right: 0;
    top: 2.2rem;
    display: flex;
    color: var(--text-color);
    font-size: 1.6rem;
    cursor: pointer;
}

.change-theme:hover {
    color: var(--fav-sunny);
}

body.scale-cv {
    --h1-font-size: 0.938rem;
    --h2-font-size: 0.938rem;
    --h3-font-size: 0.875rem;
    --normal-font-size: 0.813rem;
    --small-font-size: 0.75rem;
    --smaller-font-size: 0.688rem;
}

.generate-pdf {
    display: none;
    position: absolute;
    top: 2.2rem;
    left: 0;
    font-size: 1.8rem;
    color: var(--text-color);
    cursor: pointer;
}

.generate-pdf:hover {
    color: var(--fav-sunny);
}

.scale-cv .home-image {
    display: none;
}

.scale-cv .home-title {
    margin-top: 3rem;
}

.scale-cv .home-profession {
    margin-bottom: 3rem;
}

.scale-cv .bx-copy {
    display: none;
}

.scale-cv .change-theme,
.scale-cv .generate-pdf {
    display: none;
}

.scale-cv .bd-container {
    max-width: 700px;
}

.scale-cv .section {
    padding: 1.5rem 0 0.8rem;
}

.scale-cv .section-title {
    margin-bottom: 0.75rem;
}

.scale-cv .resume-left {
    padding: 0 1rem;
    height: 1122px;
}

.scale-cv .resume-right {
    padding: 3rem 0 0 3rem;
}

.scale-cv .home-image {
    width: 90px;
    height: 90px;
}

.scale-cv .home-container {
    gap: 1.5rem;
}

.scale-cv .home-data {
    gap: 0.25rem;
}

.scale-cv .home-address,
.scale-cv .sociial-container {
    gap: 0.75rem;
}

.scale-cv .home-icon,
.scale-cv .social-icon,
.scale-cv .interests-icon {
    font-size: 1rem;
}

.scale-cv .education-container,
.scale-cv .experience-container {
    gap: 1rem;
}

.scale-cv .education-time,
.scale-cv .experience-time {
    padding-right: 0.5rem;
}

.scale-cv .education-rounder,
.scale-cv .experience-rounder {
    width: 11px;
    height: 11px;
    margin-top: 0.22rem;
}

.scale-cv .education-line,
.scale-cv .experience-line {
    width: 1px;
    height: 110%;
    transform: translate(5px, 0);
}

.scale-cv .education-data,
.scale-cv .experience-data {
    gap: 0.25rem;
}

.scale-cv .skills-name {
    margin-bottom: var(--mb-1);
}

.scale-cv .interests-container {
    column-gap: 2.5rem;
}

.mx-auto {
    margin: 0 auto;
}

body {
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--title-color);
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 1.5rem 0;
}

.section-title {
    font-style: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    text-align: center;
    margin-bottom: var(--mb-3);
}

.bg-container {
    max-width: 968px;
    width: clac(100% -3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bg-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.75rem;
}
/* alert on copy */
._d-none {
    display: none;
}
.alert-oncopy {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    display: table;
}
.alert-oncopy .text-centered {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    left: -50%;
    width: 10rem;
    height: 2rem;
    background: #6a737b4d;
    border-radius: 3rem;
}
.alert-oncopy .text-centered h3 {
    font-size: 13px;
    color: var(--title-color);
}

@media screen and (max-width: 968px) {
    body {
        margin: 0 var(--mb-3);
    }
    .nav-menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;
        background-color: var(--body-color);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: var(--z-fixed);
        transition: 0.3s;
    }
    .home-address.bg-grid .bx-copy {
        right: 0;
        font-size: 1.25rem;
    }
    .l-header-x {
        display: none;
    }
    .sendEmailAlert {
        font-size: 10px;
        position: absolute;
        left: 25px;
        top: 383px;
        color: #6cc644;
    }
    .callMeAlert{
        font-size: 10px;
        position: absolute;
        left: 25px;
        top: 423px;
        color: #6cc644;
    }
}

.nav-logo,
.nav-toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav-toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-item {
    text-align: center;
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav-link {
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    color: --text-color-light;
    font-weight: var(--font-medium);
}

.nav-link:hover {
    color: var(--title-color);
}

.nav-icon {
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
}

.show-menu {
    bottom: var(--header-height);
}

.active-link {
    color: var(--title-color);
}

.home {
    position: relative;
}

.home-container {
    gap: 3rem;
}

.home-data {
    gap: 3rem;
    text-align: center;
}

.home-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: var(--mb-1);
    transition: 1s;
}

.home-image:hover {
    border-radius: 10%;
    transition: 1s;
}

.home-title {
    font-style: var(--h1-font-size);
}

.home-profession {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}

.home-address {
    gap: 1rem;
    margin-top: var(--mb-2);
}

.home-information {
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
}

.my-email .bx-copy {
    position: absolute;
    right: 2rem;
    cursor: pointer;
}

.my-phone .bx-copy {
    position: absolute;
    right: 2rem;
    cursor: pointer;
}

.home-icon {
    font-size: 1.2rem;
    margin-right: 0.25rem;
}

.home-button-movil {
    display: inline-block;
    border: 2px solid var(--text-color);
    color: var(--title-color);
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    transition: 0.3s;
    font-weight: var(--font-medium);
    margin-top: var(--mb-3);
    cursor: pointer;
}

.home-button-movil:hover {
    background-color: var(--text-color);
    color: var(--container-color);
}

.sociial-container {
    grid-template-columns: max-content;
    gap: 1rem;
}

.social-link {
    display: inline-block;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.nav-logo {
    display: flex;
    align-items: center;
}
.nav-logo .bxl-github {
    font-size: 30px;
}

.social-link:hover {
    color: var(--title-color);
}

.social-icon {
    font-size: 1.2rem;
    margin-right: 1.25rem;
    transition: 0.8s;
}

.profile-description {
    text-align: center;
}

.education-content,
.experience-content {
    display: flex;
}

.education-time,
.experience-time {
    padding-right: 1rem;
}

.education-rounder,
.experience-rounder {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--text-color-light);
    border-radius: 50%;
    margin-top: 0.25rem;
}

.education-line,
.experience-line {
    display: block;
    width: 2px;
    height: 110%;
    background-color: var(--text-color-light);
    transform: translate(7px, 0);
}

.education-data,
.experience-data {
    gap: 0.5rem;
}

.education-title,
.experience-title {
    font-size: var(--h3-font-size);
}

.education-studies,
.experience-company {
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.education-year {
    font-size: var(--small-font-size);
}

.skills-content,
.languages-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}

.skills-name,
.languages-name {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-3);
}

.skills-circle,
.languages-circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 50%;
    margin-right: 0.75rem;
}

.references-content {
    gap: 0.25rem;
}

.references-subtitle {
    color: var(--text-color-light);
}

.references-subtitle,
.references-contact {
    font-style: var(--smaller-font-size);
}

.references-title {
    font-size: var(--h3-font-size);
}

.interests.section {
    margin-bottom: var(--mb-4);
}

.interests-container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: var(--mb-2);
}

.interests-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interests-icon {
    font-style: 1.5rem;
    color: var(--text-color-light);
    margin-bottom: 0.25rem;
}

.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background-color: var(--container-color-alt);
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
}

.scrolltop-icon {
    font-size: 1.2rem;
    color: var(--text-color);
}

.show-scroll {
    bottom: 5rem;
}

@media screen and (max-width: 320px) {
    .nav-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem 0.5rem;
    }
    
}
@media screen and (max-width: 385px) {
    .sendEmailAlert{
        top: 403px;
    }
    .callMeAlert{
        top: 442px;
    }
}

@media screen and (min-width: 968px) {
    body {
        margin: 3rem auto;
    }
    .bd-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 968px;
    }
    .l-header,
    .scrolltop {
        display: none;
    }
    .l-header-x {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: var(--z-fixed);
        background-color: var(--body-color);
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
        margin: 0 auto;
    }
    .resume {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        background-color: var(--container-color);
        box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
    }
    .resume-left {
        background-color: var(--container-color-alt);
    }
    .resume-left,
    .resume-right {
        padding: 0 1.5rem;
    }
    .section-title,
    .profile-description {
        text-align: initial;
    }
    .home-container {
        gap: 1.5rem;
    }
    .home-button-movil {
        display: none;
    }
    .references-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .languages-content {
        grid-template-columns: repeat(3, max-content);
        column-gap: 3.5rem;
    }
    .interests-container {
        grid-template-columns: repeat(3, max-content);
        column-gap: 3.5rem;
    }
    .generate-pdf {
        display: inline-block;
    }
    .social-link:hover .social-icon {
        margin-right: 68%;
        transition: 0.8s;
    }
    .social-link:hover .social-icon.sendMeMessage {
        margin-right: 55%;
        transition: 0.8s;
    }
    .sendEmailAlert {
        font-size: 10px;
        position: absolute;
        left: 7%;
        top: 292px;
        color: #6cc644;
    }
    .callMeAlert{
        font-size: 10px;
        position: absolute;
        left: 7%;
        top: 333px;
        color: #6cc644;
    }
}
